<ul>
<% @clothes.each do |c| %>
  <li>
  <%= c.name %>
  <%= link_to 'Show', clothe_path(clothe) %>
  <%= link_to 'Edit', clothe_event_path(clothe) %>
  <%= button_to 'delete', clothe_path(clothe), :method => :delete %>
  </li>
<% end %>
</ul>